<%- include('../header') %>
<div class="page-wrapper">
    <div class="page-breadcrumb">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                <h4 class="page-title">Edit SubCategory</h4>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Edit SubCategory Info</h4>
                        <form class="form-horizontal" method="post" action="/subcategory/updatesubcategory/<%= subcategory._id %>">

                            <!-- Category Select -->
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label text-right">Category</label>
                                <div class="col-sm-9">
                                    <select name="category" class="select2 form-control custom-select" style="width: 100%; height:36px;">
                                        <% category.map((val,index)=>{ %>
                                            <option value="<%= val._id %>" <%= val._id.toString() === subcategory.category._id.toString() ? "selected" : "" %> disabled>
                                                <%= val.categoryname %>
                                            </option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>

                            <!-- SubCategory Name -->
                            <div class="form-group row mt-3">
                                <label for="subcategoryname" class="col-sm-3 col-form-label text-right">SubCategory Name</label>
                                <div class="col-sm-9">
                                    <input type="text" name="subcategory" class="form-control" id="subcategoryname" placeholder="Enter SubCategory Name" value="<%= subcategory.subcategory %>">
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <div class="form-group row mt-4">
                                <div class="col-sm-12 text-center">
                                    <button type="submit" class="btn btn-primary px-4">Update</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../footer') %>
